<launch>
    <arg name="bag"/>
    <arg name="config_dir" default="$(find continuum_mocap)/config"/>
    <arg name="outbag" default="$(arg bag)_tagslam.bag" />

    <arg name="output" default="screen"/>

    <arg name="tagslam_config_file" default="tagslam.yaml"/>
    <arg name="calibration_file" default="cameras.yaml"/>
    <arg name="camera_poses_file" default="camera_poses.yaml"/>
    <arg name="bodies_file" default="$(arg tagslam_config_file)" />

    <arg name="run_online" default="false"/>
    <arg name="max_number_of_frames" default="1000000"/>
    <arg name="start_time" default="0.0"/>
    <arg name="has_compressed_images" default="true"/>

    <node pkg="tagslam" type="tagslam_node" name="tagslam" clear_params="true"
        output="$(arg output)">
        <!-- Load configuration files -->
        <rosparam param="cameras" command="load" file="$(arg config_dir)/$(arg calibration_file)"/>
        <rosparam param="tagslam_config" command="load" file="$(arg config_dir)/$(arg tagslam_config_file)"/>
        <rosparam param="tagslam_config" command="load" file="$(arg config_dir)/$(arg bodies_file)" />
        <rosparam param="camera_poses" command="load" file="$(arg config_dir)/$(arg camera_poses_file)"/>
        <param name="exit_when_done" value="true" />

        <!-- Load other parameters -->
        <param name="bag_start_time" value="$(arg start_time)"/>
        <param name="bag_file" value="$(arg bag)" unless="$(arg run_online)"/>
        <param name="has_compressed_images" value="false"/>
        <param name="playback_rate" value="10.0"/>
        <param name="max_number_of_frames" value="$(arg max_number_of_frames)"/>
        <param name="outbag" value="$(arg outbag)"/>
    </node>

</launch>
